@import url(styles/header.css);
:root{
    --cor-de-fundo:#9949B4;
    --cor-do-cabecalho:#FFFFFF;

}
body{
    background-color: var(--cor-de-fundo);
    margin: 0;
}
@media screen and (min-width:600px) {
 .container__titulo {
    background-color: aqua ;
    text-decoration: none;
 }    
}